<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>ABOUT</title>
</head>
<body>
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center fixed-top">
        <a class="navbar-brand" href="/">TOMTO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/home">Beranda</a>
                <a class="nav-item nav-link active" href="/about">Tentang</a>
                <a class="nav-item nav-link" href="/jenisPenyakit">Jenis Penyakit</a>
                <a class="nav-item nav-link" href="/uji">Uji</a>
            </div>
        </div>
    </nav>

    <!-- body -->
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: url('https://1.bp.blogspot.com/-xDOXDoDVqdE/X6_DfR6A0iI/AAAAAAAAAZY/q6zJHS-bOkQmH6RQ46YPRXksrWXTs0c-QCLcBGAsYHQ/w1200-h630-p-k-no-nu/pertumbuhan-tomat..jpg'); background-size: cover; background-repeat: no-repeat">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal"><b>TOMTO</b></h1>
            <p class="lead font-weight-normal"><b>Sistem klasifikasi jenis penyakit pada tumbuhan tomat</b></p>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <!-- Penjelasan Home -->
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Beranda</h2>
                <p class="lead">Merupakan halaman awal dari website ini. Isinya menjelaskan tentang informasi umum dari website ini.</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width:80%; height:300px; border-radius:21px 21px 0 0;">
                <img class="rounded mt-5" src="\static\img\home.jpg" alt="home" style="width:90%; height:250px;text-align:center;">
            </div>
        </div>
        <!-- Penjelasan About -->
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Tentang</h2>
                <p class="lead">Berisi penjelasan mengenai website ini, serta fungsi dari setiap halaman.</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width:80%; height:300px; border-radius:21px 21px 0 0;">
                <img class="rounded mt-5" src="\static\img\about.jpg" alt="home" style="width:90%; height:250px;text-align:center;">
            </div>
        </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <!-- Penjelasan Jenis Penyakit -->
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Jenis Penyakit</h2>
                    <p class="lead">Isinya adalah jenis penyakit yang dapat diklasifikasi oleh sistem, serta deskripsinya. Anda juga dapat melihat gambar penyakit tersebut.</p>
                </div>
                <div class="bg-dark box-shadow mx-auto" style="width:80%; height:300px; border-radius:21px 21px 0 0;">
                    <img class="rounded mt-5" src="\static\img\jenispenyakit.jpg" alt="home" style="width:90%; height:250px;text-align:center;">
                </div>
            </div>
        </div>
        <!-- Penjelasan Uji -->
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Uji</h2>
                <p class="lead">Merupakan halaman untuk melakukan pengujian terhadap gambar yang akan diperiksa untuk menentukan jenis penyakit yang ada
                    pada gambar tersebut.
                </p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width:80%; height:300px; border-radius:21px 21px 0 0;">
                <img class="rounded mt-5" src="\static\img\uji.jpg" alt="home" style="width:90%; text-align:center;">
            </div>
        </div>
    </div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Tentang Perancang</h1>
            <img class="img-thumbnail" src="https://registrasi.untar.ac.id/dokumen/foto/2018_9530610001.JPG" alt="El Primo Gemilang" style="width:250px; height:250px;text-align:center;">
            <h2 class="display-5">El Primo Gemilang</h2>
            <p class="lead font-weight-normal">Merupakan mahasiswa Teknik Informatika Universitas Tarumanagara Angkatan 2018. Menempuh pendidikan dengan mata kuliah peminatan Artificial Intelligence, dibimbing oleh Dra. Chairisni Lubis, M. Kom.</p>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
</body>
</html>